@import url('https://fonts.googleapis.com/css?family=ZCOOL+QingKe+HuangYou');

html{
    height: 100% - 122px;
    margin: 0;
}

body{
    position: relative;
    padding: 0 0 220px 0;
    background-color: white;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    font-size: 1.15em;
    height: 100%;
    overflow-x: hidden;
    margin: 0;
}

nav{
    margin: 0 auto 0 auto;
    width: 100%;
}

#mainArea{
    min-height: 100vh;
}

#aquaNavBarMain{
    margin: 12px auto 12px auto;
    width: 80%;
    display: flex;
    justify-content: center; 
    flex-flow: row wrap;
    text-align: center;
    border-top: 2px rgb(13, 167, 255) solid;
    border-bottom: 2px rgb(13, 167,255) solid;
}

#aquaNavBarMain a{
    color:black;
    text-decoration: none;
}

.aquaNavBarButton{
    flex-basis: 0;
    flex: 1 1 0;
    font-weight: bold;
    font-size: 18pt;
    padding: 6px 0 6px 0;
    margin: 8px;
    box-shadow: 0 0 9px rgb(13, 167, 255);
    border-radius: 10px;
}

@media only screen and (max-width: 600px){
    .aquaNavBarButton{
        margin: auto 4px auto 4px;
        display: block;
        border: 2px rgb(13, 167, 255) solid;
        width: 100%;
        flex: 1 1 0;
    }
    
    #aquaNavBarMain{
        padding: 6px;
    }
}

.aquaNavBarButton:hover{
    background: rgba(13, 67, 255, 0.5); /* For older browsers. */
    background: radial-gradient(ellipse at bottom, rgba(13, 167, 255, 0.5), rgba(13, 167, 255, 0) 20%), radial-gradient(ellipse at top, rgba(13, 167, 255, 0.5), rgba(13, 167, 255, 0) 20%);
}

header{
    display: inline-block;
    margin: 0 0 0 0;
    width: 100vw;
    background: white;
    background: linear-gradient(hsl(202, 95%, 80%), rgba(255, 255, 255, 0));
}

#headerContainer{
    vertical-align: top;
}

#aquaLogo{
    display: inline-block;
    width: 30vw;
    max-width: 662px;
    margin-right: 7px;
}

#aquaLogoText{
    display: inline-block;
    float: right;
    padding: 32px;
    width: 40vw;
    max-width: 558px;
}

/*@media only screen and (max-width: 600px){
    #aquaLogoText{
        display: none;
    }
}*/

.aquaPageTitle{
    display: block;
    font-weight: bold;
    font-size: 1.9em;
    text-decoration: underline;
    text-decoration-color: rgb(13, 167, 255);
}

#mainArea{
    width: 80%;
    margin: 0 auto 0 auto;
    padding: 7px;
}

p{
    font-size: 1.15em;
    line-height: 150%;
}

#aquaTeamGallery{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.aquaTeamPortrait{
    width: 150px;
    padding: 16px;
    box-shadow: 0 0 9px rgb(13, 167, 255);
    margin: 20px;
    border-radius: 10px;
}

.aquaTeamPortrait img{
    border-radius: 10px;
}

.aquaTeamRole{
    font-size: 0.8em;
}

footer{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    background-color: black;
    margin: 0;
    padding: 10px 0 10px 0;
    height: 200px;
    border-bottom: 5px black solid;
    position: absolute;
    bottom: 0;
    left: 0;
    overflow-y: hidden;
}

footer p{
    line-height: 50%;
}

#aquaFollowUs{
    font-size: 1.5em;
    color:white;
}

footer a{
    color: white;
    text-decoration: none;
}

footer a:hover{
    color: gold;
}

.aquaFooterBoxes{
    padding: 15px;
}

#aquaFooterLinks{
    border-right: 2px rgb(13, 167, 255) solid;
}

#aquaSocialIcons{
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
}

.socialIcon{
    width: 40px;
    height: 40px;
    background-size: 40px 40px;
    background-repeat: no-repeat;
    padding: 2px;
}

#aquaFB{
    background-image: url(/img/socialIconFacebookWhite.png);
}

#aquaTW{
    background-image: url(/img/socialIconTwitterWhite.png);
}

#aquaFB:hover{
    background-image: url(/img/socialIconFacebook.png);
}

#aquaTW:hover{
    background-image: url(/img/socialIconTwitter.png);
}

#aquaUnitReadings{
    display: flex;
    flex-flow: column wrap;
}

.aquaReadingsTextHeader{
    font-size: 1.75em;
    font-weight: bold;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
}

.aquaUnitReadingBox{
    display: inherit;
    padding: 10px;
    flex-flow: column wrap;
    background-color: rgb(116, 204, 255);
    border: 2px rgb(13, 167, 255) solid;
    border-radius: 12px;
    margin: 6px 0 6px 0;
}

.aquaUnitReadingBoxHeader{
    display: inherit;
    align-items: center;
    justify-content: space-between;
}

.aquaUnitResultsTableDiv{
    display: none;
    width: 90%;
    border-top: 2px rgb(13, 167, 255) solid;
    margin: 16px auto 8px auto;
}

.ARTB{
    cursor: pointer;
}

.aquaURT{
    width: 100%;
    border: 2px rgb(12, 167, 255) solid;
}

.aquaURT th{
    position: relative;
}

.aquaTTHover{
    border-bottom: 1px dotted black;
}

.hovertip .aquaUnitTooltip{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    background-color: #FFFFAA;
    padding: 2px;
    color: black;
    font-family: Segoe UI, Trebuchet MS, Verdana, Helvetica, Arial, sans-serif, serif;
    font-size: 9pt;
    font-weight: bold;
    width: auto;
    height: auto;
    position: absolute;
    bottom: 18px;
    visibility: hidden;
    z-index: 1;
}

.hovertip:hover .aquaUnitTooltip{
    visibility: visible;
}

#aquaIndexSlide{
    display: block;
    width: 100%;
    overflow: hidden;
}

.aquaSlideImage{
    display:block;
    margin-left: 0px;
    margin-right: auto;
    width: 100%;
    min-width: 100%;
}

.aquaIndexSlideCaptionWrapper{
    float: right;
    height: 240px;
    width: 240px;
    border-radius: 220px;
    position: relative;
    bottom: 270px;
    right: 50px;
    background-color: rgba(116, 204, 255, 0.5);
}

.aquaIndexSlideCaption{
    float: right;
    background-color: rgb(13, 167, 255);
    border-radius: 200px;
    height: 140px;
    width: 140px;
    position: relative;
    bottom: -20px;
    right: 20px;
    color: white;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.aquaCaroCapButton{
    width: 100px;
    margin-top: 8px;
    padding: 2px;
    border: 2px solid white;
    background-color: rgb(116, 204, 255);
    color: white;
    text-decoration: none;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.aquaCaroCapButton:hover{
    background-color: rgb(179, 227, 255);
}

.aquaCaroCapButton:active{
    background-color: rgb(0, 129, 204);
}

.aquaCaroCapButton, .aquaCaroCapButton span{
    cursor: pointer;
}

.aquaCaroCapButton:visited{
    color: white;
    text-decoration: none;
}

.aquaCaroAdvance{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2em;
    font-family: Arial;
    background-color: rgba(0, 0, 0, 0.5);
    width: 40px;
    height: 70px;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    position: absolute;
}

.caroAdvSymbol{
    padding-bottom: 8px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(13, 167, 255);
}

#advancePrevious{
    background: linear-gradient(to left, transparent, rgba(0, 0, 0, 0.5));
    position: inline;
    z-index: 9999;
}

#advanceNext{
    background: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.5));
    position: inline;
    z-index: 9999;
}

.aquaCaroAdvance, .caroAdvSymbol{
    cursor: pointer;
}

.aquaCaroAdvance:hover .caroAdvSymbol{
    color: rgb(116, 204, 255);
}

.aquaIndexSlide{
    display: none;
}

.aquaIndexSlide_active{
    display: block;
}

.aquaIndexSlide, .aquaCaroAdvance, #aquaSlideContainer{
    box-sizing: border-box;
}

#aquaSlideContainer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 4160px;
    display: block;
    background-color: rgb(13, 167, 255);
}

@media only screen and (max-width: 800px){
    #aquaSlideContainer{
        display: none;
    }
}

#debugZone{
    width: 4px;
    height: 4px;
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    padding: 0;
}

#debugZone:hover{
    width: auto;
    height: auto;
    padding: 5px;
    background: blue;
}


#debugZone:hover #debugButton{
    display: inline;
}

#debugButton{
    display: none;
}


#aquaCarouselDotsContainer{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    width: 100%;
}

.aquaSlidePick{
    margin: 7px;
    border: 2px solid white;
    width: 24px;
    height: 24px;
    border-radius: 24px;
    background-color: transparent;
}

.aquaSlidePick_active{
    margin: 7px;
    border: 2px solid white;
    width: 24px;
    height: 24px;
    border-radius: 24px;
    background-color: rgb(13, 167, 255);
}

.aquaSlidePick, .aquaSlidePick_active{
    cursor: pointer;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

#aquaCaroAdvanceContainer{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}