@import url('https://fonts.googleapis.com/css?family=ZCOOL+QingKe+HuangYou');

html{
    overflow-x: hidden;
    height: 100%;
    margin: 0;
}

body{
    position: relative;
    margin: 0 0 0 0;
    padding: 0 0 220px 0;
    background-color: white;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    font-size: 1.15em;
    height: 100%;
}

nav{
    margin: 0 auto 0 auto;
    width: 100%;
}

#aquaNavBarMain{
    margin: 12px auto 12px auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 80%;
    text-align: center;
    border-top: 2px rgb(13, 167, 255) solid;
    border-bottom: 2px rgb(13, 167,255) solid;
}

#aquaNavBarMain a{
    color:black;
    text-decoration: none;
}

.aquaNavBarButton{
    flex-basis: 0;
    flex: 1 1 0;
    font-weight: bold;
    font-size: 18pt;
    padding: 6px 0 6px 0;
    margin: 8px;
    box-shadow: 0 0 9px rgb(13, 167, 255);
    border-radius: 10px;
}

@media only screen and (max-width: 600px){
    .aquaNavBarButton{
        margin: auto 4px auto 4px;
        display: block;
        border: 2px rgb(13, 167, 255) solid;
        width: 100%;
    }
    
    #aquaNavBarMain{
        padding: 6px;
    }
}

.aquaNavBarButton:hover{
    background: rgba(13, 67, 255, 0.5); /* For older browsers. */
    background: radial-gradient(ellipse at bottom, rgba(13, 167, 255, 0.5), rgba(13, 167, 255, 0) 20%), radial-gradient(ellipse at top, rgba(13, 167, 255, 0.5), rgba(13, 167, 255, 0) 20%);
}

header{
    display: inline-block;
    margin: 0 0 0 0;
    width: 100vw;
    background: white;
    background: linear-gradient(hsl(202, 95%, 80%), rgba(255, 255, 255, 0));
}

#headerContainer{
    vertical-align: top;
}

#aquaLogo{
    display: inline-block;
    width: 30vw;
    max-width: 662px;
    margin-right: 7px;
}

#aquaLogoText{
    display: inline-block;
    float: right;
    padding: 32px;
    width: 40vw;
    max-width: 558px;
}

@media only screen and (max-width: 600px){
    #aquaLogoText{
        display: none;
    }
}

.aquaPageTitle{
    display: block;
    font-weight: bold;
    font-size: 1.9em;
    text-decoration: underline;
    text-decoration-color: rgb(13, 167, 255);
}

#mainArea{
    width: 80%;
    margin: 0 auto 0 auto;
    padding: 7px;
}

p{
    font-size: 1.15em;
    line-height: 150%;
}

#aquaTeamGallery{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.aquaTeamPortrait{
    width: 150px;
    padding: 16px;
    box-shadow: 0 0 9px rgb(13, 167, 255);
    margin: 20px;
    border-radius: 10px;
}

.aquaTeamPortrait img{
    border-radius: 10px;
}

.aquaTeamRole{
    font-size: 0.8em;
}

footer{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    background-color: black;
    margin: 0;
    padding: 10px 0 10px 0;
    position: absolute;
    bottom: 0;
    height: 200px;
    border-bottom: 5px black solid;
}

footer p{
    line-height: 50%;
}

#aquaFollowUs{
    font-size: 1.5em;
    color:white;
}

footer a{
    color: white;
    text-decoration: none;
}

footer a:hover{
    color: gold;
}

.aquaFooterBoxes{
    padding: 15px;
}

#aquaFooterLinks{
    border-right: 2px rgb(13, 167, 255) solid;
}

#aquaSocialIcons{
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
}

.socialIcon{
    width: 40px;
    height: 40px;
    background-size: 40px 40px;
    background-repeat: no-repeat;
    padding: 2px;
}

#aquaFB{
    background-image: url(/img/socialIconFacebookWhite.png);
}

#aquaTW{
    background-image: url(/img/socialIconTwitterWhite.png);
}

#aquaFB:hover{
    background-image: url(/img/socialIconFacebook.png);
}

#aquaTW:hover{
    background-image: url(/img/socialIconTwitter.png);
}

#aquaUnitReadings{
    display: flex;
    flex-flow: column wrap;
}

.aquaReadingsTextHeader{
    font-size: 1.75em;
    font-weight: bold;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
}

.aquaUnitReadingBox{
    display: inherit;
    padding: 10px;
    flex-flow: column wrap;
    background-color: rgb(116, 204, 255);
    border: 2px rgb(13, 167, 255) solid;
    border-radius: 12px;
    margin: 6px 0 6px 0;
}

.aquaUnitReadingBoxHeader{
    display: inherit;
    align-items: center;
    justify-content: space-between;
}

.aquaUnitResultsTableDiv{
    display: none;
    width: 90%;
    border-top: 2px rgb(13, 167, 255) solid;
    flex-wrap: none;
}

.ARTB{
    cursor: pointer;
}